.stock{
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  height: 80px;
  min-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px 0 #3774ff;
  border-radius: 7px ;

  &:hover{
    box-shadow: 0 0 15px 0 #3774ff;
  }

  &__name{
    width: 150px;
  }
  &__category{
    width: 150px;
  }
  &__price{
    width: 150px;
  }
}